<form action="/build" method="post">
  <ul>
    <li>title: <input type="text" name="title"></li>
    <li>email: <input type="text" name="email"></li>
    <li>url: <input type="text" name="url"></li>
    <li>theme:
      <select name="source">
        <option value="themes/default">plain</option>
        <option value="themes/starter-template">starter-template</option>
        <option value="themes/jumbotron">jumbotron</option>
        <option value="themes/cover">cover</option>
        <option value="themes/carousel">carousel</option>
        <option value="themes/blog">blog</option>
      </select>
    </li>
  </ul>
  <input type="submit">
</form>
