<form action="/build" method="post">
  <ul>
    <li>title: <input type="text" name="title"></li>
    <li>email: <input type="text" name="email"></li>
    <li>url: <input type="text" name="url"></li>
  </ul>
  <input type="submit">
</form>
